<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.jboss.logging" level="warn"/>
    <logger name="io.vavr.control.Try.filter" level="error"/>
    <logger name="org.apache.pdfbox.pdmodel" level="error"/>
    <logger name="org.apache.fontbox" level="error"/>
    <logger name="com.slack.api.methods.impl.AsyncRateLimitExecutor" level="error"/>
    <logger name="com.azure.cosmos.CosmosClientBuilder" level="error"/>
    <logger name="com.azure.cosmos.implementation.RxDocumentClientImpl" level="error"/>
    <logger name="ai.djl.huggingface.tokenizers.jni" level="error"/>
    <logger name="ai.djl.pytorch.jni" level="error"/>
</configuration>